[DATABASE]
mode = database
host = localhost
port = 6000
database = med
user = postgres
password =
signal_id_spo2 = 76
signal_id_pulse = 77
signal_id_breathing = 50
signal_id_temperature = 57
display_value_1 = spo2
display_value_2 = pulse
camera_image_path = 

[SIGNAL_REGISTRY]
signal_id_spo2 = 76
range_spo2 = 85,100
title_spo2 = SPO2
color_spo2 = 
unit_spo2 = %
signal_id_pulse = 77
range_pulse = 40,160
title_pulse = Пульс
color_pulse = 
unit_pulse = уд/мин
signal_id_breathing = 50
range_breathing = 0,40
title_breathing = Дыхание
color_breathing = 
unit_breathing = вдох/мин
signal_id_temperature = 57
range_temperature = 34,42
title_temperature = Температура
color_temperature = 
unit_temperature = °C
signal_id_systolic_bp = 1
range_systolic_bp = 40,250
title_systolic_bp = Сист. АД
color_systolic_bp = 
unit_systolic_bp = мм.рт.ст
signal_id_diastolic_bp = 2
range_diastolic_bp = 20,150
title_diastolic_bp = Диаст. АД
color_diastolic_bp = 
unit_diastolic_bp = мм.рт.ст
signal_id_mean_bp = 3
range_mean_bp = 30,170
title_mean_bp = Ср. АД
color_mean_bp = 
unit_mean_bp = мм.рт.ст
signal_id_nibp_systolic = 4
range_nibp_systolic = 40,250
title_nibp_systolic = НИАД сист.
color_nibp_systolic = 
unit_nibp_systolic = мм.рт.ст
signal_id_nibp_diastolic = 5
range_nibp_diastolic = 20,150
title_nibp_diastolic = НИАД диаст.
color_nibp_diastolic = 
unit_nibp_diastolic = мм.рт.ст
signal_id_nibp_mean = 6
range_nibp_mean = 30,170
title_nibp_mean = НИАД ср.
color_nibp_mean = 
unit_nibp_mean = мм.рт.ст
signal_id_ibp_systolic = 7
range_ibp_systolic = 40,250
title_ibp_systolic = ИАД сист.
color_ibp_systolic = 
unit_ibp_systolic = мм.рт.ст
signal_id_ibp_diastolic = 8
range_ibp_diastolic = 20,150
title_ibp_diastolic = ИАД диаст.
color_ibp_diastolic = 
unit_ibp_diastolic = мм.рт.ст
signal_id_ibp_mean = 9
range_ibp_mean = 30,170
title_ibp_mean = ИАД ср.
color_ibp_mean = 
unit_ibp_mean = мм.рт.ст
signal_id_co2 = 23
range_co2 = 0,10
title_co2 = CO2
color_co2 = 
unit_co2 = %
signal_id_etco2 = 56
range_etco2 = 0,10
title_etco2 = ETCO2
color_etco2 = 
unit_etco2 = %
signal_id_fio2 = 53
range_fio2 = 15,100
title_fio2 = FiO2
color_fio2 = 
unit_fio2 = %
signal_id_eto2 = 54
range_eto2 = 15,100
title_eto2 = EtO2
color_eto2 = 
unit_eto2 = %
signal_id_skin_temp = 60
range_skin_temp = 30,40
title_skin_temp = Т кожи
color_skin_temp = 
unit_skin_temp = °C
signal_id_plethysmogram = 75
range_plethysmogram = 0,100
title_plethysmogram = Плетизмо
color_plethysmogram = 
unit_plethysmogram = %
signal_id_spont_rr = 46
range_spont_rr = 0,40
title_spont_rr = ЧД спонт.
color_spont_rr = 
unit_spont_rr = вдох/мин

[VIEWER_AUTO_PERIODS]
range_1m = 15
range_5m = 30
range_15m = 60
range_30m = 60
range_1h = 120
range_2h = 300
range_4h = 600
range_1d = 1800
range_over_1d = 3600

[LAYOUT_GRID]
layout_2 = 2x1
layout_3 = 3x1
layout_4 = 2x2
layout_5 = 2x3
layout_6 = 3x2
layout_7 = 2x4
layout_8 = 2x4

